services:
  postgres:
    image: postgis/postgis:16-3.4
    container_name: forex_postgres
    environment:
      POSTGRES_USER: forex_user
      POSTGRES_PASSWORD: forex_pass
      POSTGRES_DB: forex_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker/postgres-init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U forex_user -d forex_db']
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: forex_redis
    ports:
      - '6381:6379'
    volumes:
      - redis_data:/data
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
  redis_data:
